@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 22px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
} */

body {
  min-height: 100vh;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.animate-slide-up {
  animation: slide-up ease-in-out 2s forwards;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

@keyframes slideIn {
  0% {
    top: -80px;
    opacity: 0;
  }
  100% {
    top: 3%;
    opacity: 1;
  }
}

.alert {
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  animation: slideIn 0.5s ease-out forwards;
  max-width: 400px;
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.alert-warning {
  background-color: #ffcc00;
  color: #000;
}

.alert-success {
  background-color: #28a745;
  color: #fff;
}

.alert-error {
  background-color: #dc3545;
  color: #fff;
}

.alert-info {
  background-color: #17a2b8;
  color: #fff;
}

.alert.exiting {
  animation: slideOut 0.3s ease-out forwards;
}

@keyframes slideOut {
  0% {
    top: 3%;
    opacity: 1;
  }
  100% {
    top: -80px;
    opacity: 0;
  }
}
